<div class="movies-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/"><h1><i class="fa fa-film" aria-hidden="true"></i> Movies Tracker</h1></a>
      </div>
      <div class="col-md-6">
        <p> Hello, {{user.local.email}}. <a href="/logout">Click here if you want to logout</a>
      </div>

    </div>

  </div>

</div>
