{{> header}}
<section id="service">
    <div class="container">
      <a href="/"><h3><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Go Back</h3></a>
      <h1>Categories</h1>
      <h4>Filter your movies by your favourite genre</h4>
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-4">
                  <a href="/horror">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                           <i class="fa fa-bug"></i>
                        </div>
                        <h3>Horror</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/crime">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                          <i class="fa fa-gavel" aria-hidden="true"></i>
                        </div>
                        <h3>Crime</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
                 <div class="col-md-4">
                   <a href="/sci-fi">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa  fa-rocket"></i>
                        </div>
                        <h3>Sci-Fi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
            </div>
            <div class="row empty-top">
                <div class="col-md-4">
                  <a href="/drama">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                           <i class="fa fa-adjust"></i>
                        </div>
                        <h3>Drama</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/thriller">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <h3>Thriller</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
                 <div class="col-md-4">
                   <a href="/comedy">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa  fa-smile-o"></i>
                        </div>
                        <h3>Comedy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.</p>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}
