    <div class="diagonal">
    <section id="banner" class="wow fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div class="block">

                        <h1>
                            Keep track of the movies<br> you want to see.
                        </h1>
                        <p>
                            Movies Tracker
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                          <div class="col-md-12 cat-module">
                            <a href="/add">
                            <div class="row">
                              <div class="col-md-4 left left1">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-8">
                                <h5 class="green">CLICK HERE</h5>
                                <h3>Add a new movie</h3>
                                <h4>Start Here</h4>
                              </div>
                            </div>
                            </a>
                        </div>
                      <div class="col-md-12 cat-module">
                        <a href="/latest">
                          <div class="row">
                            <div class="col-md-4 left left2">
                              <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-8">
                              <h5 class="purple">CLICK HERE</h5>
                              <h3>Latest movies</h3>
                              <h4>Keep Track</h4>
                            </div>
                          </div>
                          </a>
                      </div>
                      <div class="col-md-12 cat-module">
                        <a href="/categories">
                        <div class="row">
                          <div class="col-md-4 left left3">
                            <i class="fa fa-film" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-8">
                            <h5 class="blue">CLICK HERE</h5>
                            <h3>Categories</h3>
                            <h4>Filter your movies</h4>
                          </div>
                        </div>
                        </a>
                    </div>

              </div>
            </div>
          </div>
        </div>
    </section>
    </div>
