    <section id="banner" class="wow fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div class="block">
                        <h1>
                            Kepp track of the movies<br> you want to see.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Eos nemo, corporis ipsum soluta nobis ea!
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <a href="/add">
                          <div class="col-md-12 cat-module">
                            <div class="row">
                              <div class="col-md-4 left left1">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-8">
                                <p>Click Here</p>
                                <p>Add a new movie</p>
                                <p>Start Here</p>
                              </div>
                            </div>
                        </div>
                      </a>
                      <a href="/latest">
                        <div class="col-md-12 cat-module">
                          <div class="row">
                            <div class="col-md-4 left left2">
                              <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-8">
                              <p>Click Here</p>
                              <p>Latest Movies</p>
                              <p>Start Here</p>
                            </div>
                          </div>
                      </div>
                    </a>
                    <a href="/latest">
                      <div class="col-md-12 cat-module">
                        <div class="row">
                          <div class="col-md-4 left left3">
                            <i class="fa fa-film" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-8">
                            <p>Click Here</p>
                            <p>Categories</p>
                            <p>Start Here</p>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
    </section>
