    <section id="banner" class="wow fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-md-offset-3">
                    <div class="block">
                        <h1>
                            Kepp track of the movies you want to see.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nemo, corporis ipsum soluta nobis ea!
                        </p>

                        <ul class="download-btn">
                            <li>
                                <a href="/latest" class="btn btn-default btn-apple"> <i class="fa fa-apple"></i>Movies</a>
                            </li>
                            <li>
                                <a href="/add" class="btn btn-default btn-andriod"><i class="fa fa-android"></i>Add New</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-windows"><i class="fa fa-windows"></i>Browse Categories</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </section>
